<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from bootdey.com    @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>simple team cards - Bootdey.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
    	body{
    background:#eee;
    margin-top:20px;
}
.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}

.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}
    </style>
</head>
<body>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container py-5">
    <div class="row mb-4">
      <div class="col-lg-5">
        <h2 class="display-4 font-weight-light">Our team</h2>
        <p class="font-italic text-muted">Deception Perception is comprised of a diverse group of individuals!</p>
      </div>
    </div>

    <div class="row text-center">
      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://media-exp1.licdn.com/dms/image/C4D03AQE5j1iwy_Q3cQ/profile-displayphoto-shrink_800_800/0/1604367766328?e=1628121600&v=beta&t=MzplK9Ib4lnwBrsp-fXrh9UcT8_keRpnMKXgEZUrm28" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Victor Palacios</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://media-exp1.licdn.com/dms/image/C4D03AQGgtxTq2OkA9w/profile-displayphoto-shrink_800_800/0/1604359382184?e=1628121600&v=beta&t=QY9rGmZ68LXGUH7h7h1xfhvPZukERhe67Gz7WgE51bw" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Mauro Napoli</h5><span class="small text-uppercase text-muted">CTO</span>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://media-exp1.licdn.com/dms/image/C5603AQEYVylbqTe3eQ/profile-displayphoto-shrink_800_800/0/1597429862734?e=1628121600&v=beta&t=byaVxwVlvpbFbCOy3PCVkgsu5ttf2MRmFutigcy1AIA" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Berkay Canogullari</h5><span class="small text-uppercase text-muted">Data Scientist</span>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://media-exp1.licdn.com/dms/image/C5603AQHcZCFdU5h-GQ/profile-displayphoto-shrink_800_800/0/1602889199215?e=1628121600&v=beta&t=tQYQuhZzdJ1u1W_2ZMySzlcwoCbL0p3AA_ezECZZFxI" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Sophie  Wang</h5><span class="small text-uppercase text-muted">Data Scientist</span>
        </div>
      </div>
      <!-- End-->

      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://media-exp1.licdn.com/dms/image/C5603AQF_h6LquKShWw/profile-displayphoto-shrink_800_800/0/1603401404277?e=1628121600&v=beta&t=3SJpqmtjOTwRVv0qnumV2_r_ladzuE15_gtYYRmNLIA" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Eriko Funasato</h5><span class="small text-uppercase text-muted">Data Scientist</span>
        </div>
      </div>
      <!-- End-->

      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://media-exp1.licdn.com/dms/image/C4D03AQHIZKpVS1EYaA/profile-displayphoto-shrink_400_400/0/1597537662738?e=1628121600&v=beta&t=gkzhpjnDn-81h2uJ1v8cwYoTmgT8lylaoJMJ5AP5Eks" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Flora Chen</h5><span class="small text-uppercase text-muted">Data Scientist</span>
        </div>
      </div>
      <!-- End-->

      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://media-exp1.licdn.com/dms/image/C5603AQFeDrCSBNniIA/profile-displayphoto-shrink_800_800/0/1617000484489?e=1628121600&v=beta&t=2AMzb-u4d5snT80rP9hj90y5kTsUYlY7K1uDVT2jVLU" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Aneri Dand</h5><span class="small text-uppercase text-muted">Data Scientist</span>
        </div>
      </div>
      <!-- End-->

      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://media-exp1.licdn.com/dms/image/C5603AQHG4b5821fZrQ/profile-displayphoto-shrink_800_800/0/1616978861986?e=1628121600&v=beta&t=Sm1Tg3bCPnMdqPpYmPos-9SIvWKP__H4timLhTCLVDw" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Ricky Zhang</h5><span class="small text-uppercase text-muted">Data Scientist</span>
        </div>
      </div>
      <!-- End-->



    </div>
  </div>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script type="text/javascript">
	
</script>
</body>
</html>
