<html>
    <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-W3KMFRQR5M"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-W3KMFRQR5M');
    </script>
        <title>Example</title>
    </head>
    <body>
        <p>
        The secret agent, {{name}} is logged-in. </br>
        {{email}} is super awesome. </br>
        </p>
    </body>
</html>